[Unit]
Description=Tuxedo laptop automatic fan control
 
[Service]
Type=simple
 
User=root
Group=root
UMask=007
 
ExecStart=/usr/local/bin/Tuxedo-Fan-Control
 
Restart=on-failure
Nice=-20
 
[Install]
WantedBy=multi-user.target
