[Unit]
Description=Tuxedo laptop automatic fan control
 
[Service]
Type=simple
 
User=root
Group=root
UMask=007
 
Environment=TUXEDO_FAN_PROFILE=balanced
EnvironmentFile=-/etc/default/tuxedo-fan-control
ExecStart=@CMAKE_INSTALL_FULL_BINDIR@/Tuxedo-Fan-Control --profile ${TUXEDO_FAN_PROFILE}
 
Restart=on-failure
Nice=-20
 
[Install]
WantedBy=multi-user.target
